description = "O nas"

[staticPage]
useContent = 0
default = 0

[serviceslist]
==
{variable name="hero_mainText" label="Tekst główny" tab="Hero" type="text"}{/variable}
{variable name="hero_img" label="Główne zdjęcie" tab="Hero" type="mediafinder" mode="image"}{/variable}

{variable name="strokeText" label="Tekst" tab="Sekcja z wzorem" type="text"}{/variable}

{variable name="imgText_1_title" label="Tytuł" tab="Tekst ze zdjęciem (1)" type="text"}{/variable}
{variable name="imgText_1_text" label="Tekst" tab="Tekst ze zdjęciem (1)" type="textarea"}{/variable}
{variable name="imgText_1_img" label="Zdjęcie" tab="Tekst ze zdjęciem (1)" type="mediafinder" mode="image"}{/variable}

{variable name="btnText_1_title" label="Tytuł" tab="Tekst z przyciskiem (1)" type="text"}{/variable}
{variable name="btnText_1_text" label="Tekst" tab="Tekst z przyciskiem (1)" type="textarea"}{/variable}

{variable name="services_title" label="Tytuł" tab="Lista usług" type="text"}{/variable}


{variable name="imgText_2_title" label="Tytuł" tab="Tekst ze zdjęciem (2)" type="text"}{/variable}
{variable name="imgText_2_text" label="Tekst" tab="Tekst ze zdjęciem (2)" type="textarea"}{/variable}
{variable name="imgText_2_img" label="Zdjęcie" tab="Tekst ze zdjęciem (2)" type="mediafinder" mode="image"}{/variable}

{variable name="btnText_2_title" label="Tytuł" tab="Tekst z przyciskiem (2)" type="text"}{/variable}
{variable name="btnText_2_text" label="Tekst" tab="Tekst z przyciskiem (2)" type="textarea"}{/variable}


{% partial 'header' %}
{% partial 'navigation' %}
<body class="aboutPage">
<section class="hero" data-animation="fastFadeIn">
    <img class="mainImg mainImg_desktop" src="{{ hero_img | media}}" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle" data-animation="fadeIn">
                Granboard
            </p>
            <h1 class="title" data-animation="fadeIn">
                {{hero_mainText}}
            </h1>
        </div>
    </div>
</section>
<section class="strokes">

    <div class="container">
        <h3 class="title" data-animation="slideFromLeft">
            {{strokeText}}
        </h3>
    </div>
    <img class="shape" src="{{ 'about_shape.png' | media }}" alt="" data-animation="slideFromRight">
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ imgText_1_img | media }}" alt="" data-animation="fadeIn">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        {{imgText_1_title}}
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        {{imgText_1_text}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title" data-animation="slideFromLeft">
            {{btnText_1_title}}
        </h3>
        <p class="text" data-animation="slideFromRight">
            {{btnText_1_text}}
        </p>
        <a class="arrow_btn_bg" href="produkty" data-animation="fadeIn">
            Sprawdź naszą ofertę
        </a>
    </div>
</section>
<div class="servicesSlider">
    <div class="container" data-animation="fadeIn">
        <h2 class="sectionTitle">{{services_title}}</h2>
        <div class="serviceList">
            {% set counter = 0 %}
            {% for i,item in servicesList %}
            {% if(item.about_show) %}
            <div class="serviceList_item {% if(i == 0)%}active{% endif %}" data-slide="{{counter}}">
                <p class="service_name">{{item.name}}</p>
                <p class="service_description">
                    {{ item.about_subtitle }}
                </p>
            </div>
            {% set counter = counter+1 %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="servicesSlider_slides">

        <div class="contentSide" data-animation="slideFromLeft">
            <div class="servicesSlider_nav">
                <div class="navLeft"></div>
                <div class="navRight"></div>
            </div>
            {% set counter = 0 %}
            {% for i,item in servicesList %}
            {% if(item.about_show) %}
            <div class="contentSide_slide {% if(i == 0)%}active{% endif %}" data-slide="{{counter}}">
                <h3 class="title">
                    {{ item.name }}
                </h3>
                <p class="text">
                    {{ item.about_description }}
                </p>
                <a href="services#{{item.slug}}" class="arrow_btn">ZOBACZ ZAKRES OFERTY</a>
            </div>
            {% set counter = counter+1 %}
            {% endif %}
            {% endfor %}
        </div>
        <div class="imgSide" data-animation="slideFromRight">
            {% set counter = 0 %}
            {% for i,item in servicesList %}
            {% if(item.about_show) %}
            <img class="imgSide_item {% if(i == 0)%}active{% endif %}" data-slide="{{counter}}"
                 src="{{ item.about_img | media}}"
                 alt="">
            {% set counter = counter+1 %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col" data-animation="slideFromLeft">
                <img src="{{ imgText_2_img | media }}" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        {{imgText_2_title}}
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        {{imgText_2_text}}
                    </p>
                    <a class="arrow_btn_bg" href="kariera" data-animation="slideFromRight">Zobacz OFERTY PRACY</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title" data-animation="fadeIn">
            {{btnText_2_title}}
        </h3>
        <p class="text" data-animation="fadeIn">
            {{btnText_2_text}}
        </p>
        <a class="arrow_btn_bg" href="kariera" data-animation="fadeIn">
            KARIERA W GRANBOARD
        </a>
    </div>
</section>
<script>
    const serviceList = Array.from(document.querySelectorAll('.serviceList_item'));
    const navLeft = document.querySelector('.navLeft');
    const navRight = document.querySelector('.navRight');

    serviceList.forEach(function (item) {
        item.addEventListener('click', function (e) {
            const activeIndex = e.target.closest('.serviceList_item').getAttribute('data-slide');
            set_activeSlide(activeIndex);
        });
    });
    navLeft.addEventListener('click', function () {
        let activeIndex = get_activeIndex();
        activeIndex = activeIndex - 1 < 0 ? serviceList.length - 1 : activeIndex - 1;
        set_activeSlide(activeIndex);
    });
    navRight.addEventListener('click', function () {
        let activeIndex = get_activeIndex();
        activeIndex = activeIndex + 1 > serviceList.length - 1 ? 0 : activeIndex + 1;
        set_activeSlide(activeIndex);
    });

    function get_activeIndex() {
        const slider = get_slideData();

        let activeIndex = -1;
        slider.forEach(function (el, index) {
            if (el.active)
                activeIndex = index;
        });
        return activeIndex;

    }

    function get_slideData() {
        const slide_list = Array.from(document.querySelectorAll('.serviceList_item'));
        const slide_content = Array.from(document.querySelectorAll('.contentSide_slide'));
        const slide_img = Array.from(document.querySelectorAll('.imgSide_item'));
        let data = [];
        slide_list.forEach(function (el, index) {

            data.push({
                slide_item: el,
                slide_content: slide_content[index],
                slide_img: slide_img[index],
                active: el.classList.contains('active')
            })
        });
        return data;
    }

    function set_activeSlide(activeIndex) {
        let slider = get_slideData();
        activeIndex = parseInt(activeIndex);
        if (!slider[activeIndex].active) {
            slider.forEach(function (el, index) {
                const slide_item = el.slide_item;
                const slide_content = el.slide_content;
                const slide_img = el.slide_img;
                if (index === activeIndex) {
                    slide_item.classList.add('active');
                    slide_content.classList.add('active');
                    slide_img.classList.add('active');
                    slide_img.active = true;
                } else {
                    slide_item.classList.remove('active');
                    slide_content.classList.remove('active');
                    slide_img.classList.remove('active');
                    slide_img.active = false;
                }
            });
        }
    }

</script>
{% partial 'footer' %}
</body>