description = "Kariera"

[staticPage]
useContent = 0
default = 0

[builderList jobList]
modelClass = "Netsite\Joblist\Models\JobList"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{variable name="hero_mainText" label="Tekst główny" tab="Hero" type="text"}{/variable}
{variable name="hero_img" label="Główne zdjęcie" tab="Hero" type="mediafinder" mode="image"}{/variable}

{variable name="text_1_title" label="Tytuł" tab="Tekst (1)" type="text"}{/variable}
{variable name="text_1_text" label="Tekst" tab="Tekst (1)" type="textarea"}{/variable}

{variable name="imgText_1_title" label="Tytuł" tab="Tekst ze zdjęciem (1)" type="text"}{/variable}
{variable name="imgText_1_text" label="Tekst" tab="Tekst ze zdjęciem (1)" type="textarea"}{/variable}
{variable name="imgText_1_img" label="Zdjęcie" tab="Tekst ze zdjęciem (1)" type="mediafinder" mode="image"}{/variable}


{variable name="benefits_title" label="Nagłówek" tab="Benefity" type="text"}{/variable}
{repeater name="benefits" tab="Benefity" prompt="Dodaj"}
{variable name="img" label="Ikona"  type="mediafinder" mode="image"}{/variable}
{variable name="title" label="Nazwa"  type="text"}{/variable}
{variable name="text" label="Tekst"  type="textarea"}{/variable}
{/repeater}

{variable name="imgText_2_title" label="Tytuł" tab="Tekst ze zdjęciem (2)" type="text"}{/variable}
{variable name="imgText_2_text" label="Tekst" tab="Tekst ze zdjęciem (2)" type="textarea"}{/variable}
{variable name="imgText_2_img" label="Zdjęcie" tab="Tekst ze zdjęciem (2)" type="mediafinder" mode="image"}{/variable}

{variable name="text_2_title" label="Tytuł" tab="Tekst (2)" type="text"}{/variable}
{variable name="text_2_text" label="Tekst" tab="Tekst (2)" type="textarea"}{/variable}


{% set records = jobList.records %}
{% set displayColumn = jobList.displayColumn %}
{% set noRecordsMessage = jobList.noRecordsMessage %}
{% set detailsPage = jobList.detailsPage %}
{% set detailsKeyColumn = jobList.detailsKeyColumn %}
{% set detailsUrlParameter = jobList.detailsUrlParameter %}

<body class="workOffers">

{% partial 'header' %}
{% partial 'navigation' %}

<section class="hero" data-animation="fastFadeIn">
    <img class="mainImg mainImg_desktop" src="{{ hero_img | media}}" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle" data-animation="fadeIn">
                Kariera
            </p>
            <h1 class="title" data-animation="fadeIn">
                {{hero_mainText | raw }}
            </h1>
        </div>
    </div>
</section>
<section class="simple">
    <div class="container">
        <h3 class="title" data-animation="slideFromLeft">
            {{text_1_title}}
        </h3>
        <p class="text" data-animation="slideFromRight">
            {{text_1_text}}
        </p>
    </div>
</section>
<section class="imgWithText">
    <div class="container topContent">
        <div class="row">
            <div class="col">
                <div class="textContentTop">
                    <div class="textContent">
                        <h3 class="title whiteTitle" data-animation="slideFromLeft">
                            {{imgText_1_title}}
                        </h3>
                        <p class="text topText" data-animation="slideFromLeft">
                            {{imgText_1_text}}
                        </p>
                        <div class="arrow_btn_bg scroll_btn" href="" data-animation="slideFromLeft">Zobacz OFERTY PRACY
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="{{ imgText_1_img | media }}" alt="" data-animation="slideFromRight">
            </div>
        </div>
    </div>
</section>
<section class="interestingInfo">
    <div class="container">
        <p class="title tableTitle" data-animation="fadeIn">
            {{benefits_title}}
        </p>
        <div class="list">
            {% for i,item in benefits %}
            <div class="adress">
                <div class="icon">
                    <img class="" src="{{ item.img | media }}" alt="" data-animation="fadeIn">
                </div>
                <div class="content">
                    <div class="tit" data-animation="fadeIn">
                        {{ item.title }}
                    </div>
                    <div class="greyBar" data-animation="fadeIn"></div>
                    <div class="description" data-animation="fadeIn">
                        {{ item.text }}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="btn_scroll scroll_btn" data-animation="fadeIn">
                ZOBACZ OFERTY PRACY
            </div>
        </div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{  imgText_2_img | media }}" alt="" data-animation="slideFromLeft">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        {{imgText_2_title}}
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        {{imgText_2_text}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% if records | length > 0 %}
<section class="simple offers">
    <div class="container">

        <h3 class="title" data-animation="fadeIn">
            Aktualne Oferty Pracy
        </h3>
        <div class="offerInfo_list">
            {% for i,item in records %}
            <div class="offerInfo_el" data-animation="fadeIn">
                <div class="offerInfo">
                    <div class="offerInfoInside">
                        <h4>{{item.name}}</h4>
                        <p>{{item.section}}</p>
                    </div>
                    <div class="locationInfo">
                        <img src="public/img/workOffers/location.svg"/>
                        <p class="locationText">{{item.location}}</p>
                    </div>
                    <img class="dropdown" data-id="{{i}}" src="{{ 'career/arrow_down.svg' | media }}"/>
                </div>
                <div class="offer-content" data-id="{{i}}">
                    {% if item.description %}
                    <h4 class="offerTitle">Opis oferty</h4>
                    <p class="text offerText">
                        {{ item.description }}
                    </p>
                    {% endif %}
                    {% if item.expectations | length > 0 %}
                    <h4 class="offerTitle">Czego oczekujemy</h4>
                    <ul class="offerList">
                        {% for i,el in item.expectations %}
                        <li><img src="{{ 'career/yes.svg' | media }}"/>
                            <p>{{el.text1}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if item.offer | length > 0 %}
                    <h4 class="offerTitle">Co oferujemy</h4>
                    <ul class="offerList">
                        {% for i,el in item.offer %}
                        <li><img src="{{ 'career/yes.svg' | media }}"/>
                            <p>{{el.text1}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <a class="arrow_btn_bg arrow_apply" href="kariera/formularz">
                        Aplikuj na stanowisko
                    </a>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
<section class="simpleWithBtn offerWork">
    <div class="container">
        <h3 class="title">
            {{text_2_title}}
        </h3>
        <p class="text">
            {{text_2_text}}
        </p>
        <a href="kariera/formularz" class="arrow_btn_bg">
            Napisz do nas
        </a>
    </div>
</section>
{% else %}
<section class="simpleWithBtn offerWork">
    <div class="container">
        <h3 class="title">
            Aktualnie brak ofert pracy
        </h3>
        <p class="text">
            Chcesz z nami pracowć? Napisz do nas wyślij nam dwoje CV a by na pewno je rozpatrzymy!
        </p>
        <a href="kariera/formularz" class="arrow_btn_bg">
            Napisz do nas
        </a>
    </div>
</section>
{% endif %}

{% partial 'footer' %}
<script>

    const offerContent = Array.from(document.querySelectorAll('.offer-content'));

    offerContent.forEach(function (el) {
        const elHeight = el.offsetHeight;
        el.setAttribute('data-height', elHeight);
        el.style.height = "0px";
    });

    $(document).ready(function () {

        $('.scroll_btn').on('click', function () {
            $('body,html').animate({
                scrollTop: $('.simple.offers').offset().top
            }, 1000);
        });

        $('.dropdown').on('click', function () {
            const target = $(this).attr('data-id');
            const isActive = $(this).hasClass('active');

            $('.dropdown').removeClass('active');
            $('.offer-content').css({'height': '0px'});

            if (!isActive) {
                $(this).addClass('active');
                const elHeight = $('.offer-content[data-id="' + target + '"]').attr('data-height');
                console.log('elHeight', elHeight);
                $('.offer-content[data-id="' + target + '"]').css({height: elHeight + 'px'});


            }
        });
    });
</script>
</body>