description = "Kariera - formularz"

[staticPage]
useContent = 0
default = 0
==
<body class="careerForm">
{% partial 'header' %}
{% partial 'navigation' %}

<form class="netSiteForm">
    <div class="container">
        <a href="../kariera" class="btn_back" data-animation="slideFromLeft">
            kariera
        </a>
        <h3 class="title" data-animation="fadeIn">
            Wyślij aplikacje
        </h3>
        
        <form id="form" action="">
            <div class="form_row">
                <div class="formField" data-animation="fadeIn">
                    <label class="formField_label" for="name">Imię i Nazwisko</label>
                    <input id="name" name="name" class="formField_el" type="text" data-required="true">
                </div>
                <div class="formField" data-animation="fadeIn">
                    <label class="formField_label" for="email">E-mail</label>
                    <input id="email" name="email" class="formField_el" type="text" data-required="true">
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_full" data-animation="fadeIn">
                    <label class="formField_label" for="phoneNumber">Numer telefonu</label>
                    <input id="phoneNumber" name="phoneNumber" class="formField_el" type="text" data-required="true">
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_full" data-animation="fadeIn">
                    <label class="formField_label" for="jobTitle">Nazwa stanowiska</label>
                    <select id="jobTitle" name="jobTitle" class="formField_el" type="text" data-required="true">
                        <option value="none">Wybierz</option>
                        <option value="CNC">Operator CNC</option>
                    </select>
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_full formField_file" data-animation="fadeIn">
                    <div class="formField_file_row">
                        <label class="formField_label" for="file">CV</label>
                        <label for="file" class="addAttach">
                            <p>Dodaj załącznik</p>
                            <img src="{{ 'career/icon-attachment.svg' | media }}" alt="">
                        </label>
                        <input id="file" name="file" type="file" class="formField_el hiddenInput" data-required="true">
                    </div>
                    <div class="formField_file_row">
                        <p class="fileName">Jan_Kowalski_CV.pdf</p>
                    </div>
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_agree">
                    <label class="agreeInput" for="agree" data-animation="fadeIn"></label>
                    <label class="formField_label" for="agree" data-animation="fadeIn">
                        Wyrażam zgodę na wykorzystanie moich danych osobowych przez firmę GranBoard Sp. z o.o.
                        (Administrator danych) w celu udzielenia mi dodatkowych informacji handlowych oraz informacji
                        związanych z zakresem działalności firmy. Podanie danych jest dobrowolne umożliwia uzyskanie w/w
                        informacji. Więcej informacji dotyczących przetwarzania danych znajdą Państwo w naszej polityce
                        prywatności.
                    </label>
                    <input type="checkbox" id="agree" name="agree" hidden data-required="true">
                </div>
            </div>
            <button class="submitBTN" data-animation="fadeIn">Wyślij</button>
        </form>
    </div>
</form>
{% partial 'footer' %}
<script>
    $('form').on('submit', function () {
        let isok = false;
        const fields = $('.formField_el[data-required="true"]');
        $.each(fields, function (index, item) {
            const el = $(item);
            console.log(el);
        });
        return isok;
    });

    const validation = function (field) {
        const validator = field.attr('data-validator');
        switch (validator) {
            case 'text':
                break;
            case 'email':
                break;
            case 'text':
                break;
        }
    }
</script>
</body>