description = "Kontakt"

[staticPage]
useContent = 0
default = 0
==

{variable name="hero_mainText" label="Tekst główny" tab="Hero" type="text"}{/variable}
{variable name="hero_img" label="Główne zdjęcie" tab="Hero" type="mediafinder" mode="image"}{/variable}

{variable name="contactInfo_title" label="Nagłówek" tab="Informacje kontaktowe" type="text"}{/variable}

{variable name="contactInfo_1_icon" label="Kolumna 1 Ikona" tab="Informacje kontaktowe" type="mediafinder" mode="image"}{/variable}
{variable name="contactInfo_1_title" label="Kolumna 1 Tytuł" tab="Informacje kontaktowe" type="text"}{/variable}
{variable name="contactInfo_1_mainText" label="Kolumna 1 Tekst główny" tab="Informacje kontaktowe" type="text"}{/variable}
{variable name="contactInfo_1_text" label="Kolumna 1 Tekst" tab="Informacje kontaktowe" type="text"}{/variable}
{variable name="contactInfo_1_btnText" label="Kolumna 1 Przycisk tekst" tab="Informacje kontaktowe" type="text"}{/variable}

{variable name="contactInfo_2_icon" label="Kolumna 2 Ikona" tab="Informacje kontaktowe" type="mediafinder" mode="image"}{/variable}
{variable name="contactInfo_2_title" label="Kolumna 2 Tytuł" tab="Informacje kontaktowe" type="text"}{/variable}
{variable name="contactInfo_2_mainText" label="Kolumna 2 Tekst główny" tab="Informacje kontaktowe" type="text"}{/variable}
{variable name="contactInfo_2_text" label="Kolumna 2 Tekst" tab="Informacje kontaktowe" type="text"}{/variable}
{variable name="contactInfo_2_btnText" label="Kolumna 2 Przycisk tekst" tab="Informacje kontaktowe" type="text"}{/variable}


<body class="contact">
{% partial 'header' %}
{% partial 'navigation' %}
<section class="hero" data-animation="fastFadeIn">
    <img class="mainImg mainImg_desktop" src="{{ hero_img | media }}" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle" data-animation="fadeIn">
                Kontakt
            </p>
            <h1 class="title" data-animation="fadeIn">
                {{hero_mainText}}
            </h1>
        </div>
    </div>
</section>
<section class="contactInfo">
    <div class="container">
        <div class="title" data-animation="fadeIn">
            {{contactInfo_title}}
        </div>
        <div class="list">
            <div class="adress">
                <div class="icon">
                    <img class="" src="{{ contactInfo_1_icon | media }}" alt="" data-animation="fadeIn">
                </div>
                <div class="content">
                    <p class="subTit" data-animation="fadeIn">
                        {{contactInfo_1_title}}
                    </p>
                    <div class="tit" data-animation="fadeIn">
                        {{contactInfo_1_mainText}}
                    </div>
                    <div class="description" data-animation="fadeIn">
                        {{contactInfo_1_text}}
                    </div>
                    <div class="btn_scroll" data-animation="fadeIn">
                        {{contactInfo_1_btnText}}
                    </div>
                </div>
            </div>
            <div class="teleadress">
                <div class="icon">
                    <img src="{{ contactInfo_1_icon | media }}" alt="" data-animation="fadeIn">
                </div>
                <div class="content">
                    <p class="subTit" data-animation="fadeIn">
                        {{contactInfo_2_title}}
                    </p>
                    <div class="tit" data-animation="fadeIn">
                        {{contactInfo_2_mainText}}
                    </div>
                    <div class="description" data-animation="fadeIn">
                        {{contactInfo_2_text}}
                    </div>
                    <div class="btn_scroll" data-animation="fadeIn">
                        {{contactInfo_2_btnText}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="map" data-animation="fadeIn"></section>
<section class="netSiteForm">
    <div class="container">
        <h3 class="title" data-animation="fadeIn">
            Napisz do nas
        </h3>
        <form id="form" action="">
            <div class="form_row">
                <div class="formField" data-animation="fadeIn">
                    <label class="formField_label" for="companyName">Nazwa Firmy</label>
                    <input id="companyName" name="companyName" class="formField_el" type="text">
                </div>
                <div class="formField" data-animation="fadeIn">
                    <label class="formField_label" for="email">E-mail</label>
                    <input id="email" name="email" class="formField_el" type="text">
                </div>
            </div>
            <div class="form_row">
                <div class="formField" data-animation="fadeIn">
                    <label class="formField_label" for="name">Imię i Nazwisko</label>
                    <input id="name" name="name" class="formField_el" type="text">
                </div>
                <div class="formField" data-animation="fadeIn">
                    <label class="formField_label" for="phoneNumber">Numer telefonu</label>
                    <input id="phoneNumber" name="phoneNumber" class="formField_el" type="text">
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_full" data-animation="fadeIn">
                    <label class="formField_label" for="question">Cel kontaktu</label>
                    <select class="formField_el" name="question" id="question">
                        <option value="">Wybierz</option>
                        <option value="">Opcja 1</option>
                        <option value="">Opcja 2</option>
                        <option value="">Opcja 3</option>
                    </select>
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_full" data-animation="fadeIn">
                    <label class="formField_label" for="message">Treść wiadomości</label>
                    <textarea id="message" name="message" class="formField_el" name="" cols="30" rows="50"></textarea>
                </div>
            </div>
            <div class="form_row">
                <div class="formField formField_agree">
                    <label class="agreeInput" for="agree" data-animation="fadeIn"></label>
                    <label class="formField_label" for="agree" data-animation="fadeIn">
                        Wyrażam zgodę na wykorzystanie moich danych osobowych przez firmę GranBoard Sp. z o.o.
                        (Administrator danych) w celu udzielenia mi dodatkowych informacji handlowych oraz informacji
                        związanych z zakresem działalności firmy. Podanie danych jest dobrowolne umożliwia uzyskanie w/w
                        informacji. Więcej informacji dotyczących przetwarzania danych znajdą Państwo w naszej polityce
                        prywatności.
                    </label>
                    <input type="checkbox" id="agree" name="agree" hidden>
                </div>
            </div>
            <button class="submitBTN" data-animation="fadeIn">Wyślij</button>
        </form>
    </div>
</section>
{% partial 'footer' %}
<script>

    $('form').on('submit', function () {
        let isok = false;
        const fields = $('.formField_el[data-required="true"]');
        $.each(fields, function (index, item) {
            const el = $(item);
            console.log(el);
        });
        return isok;
    });

    const validation = function (field) {
        const validator = field.getAttribute('data-validator');
        switch (validator) {
            case 'text':
                break;
            case 'email':
                break;
            case 'text':
                break;
        }
    }
</script>
<script>
    function initMap() {
        var uluru = {lat: 51.512423, lng: 17.647913};

        var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(51.512423, 17.647913),
            styles: [
                {
                    "featureType": "all",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "lightness": "74"
                        },
                        {
                            "saturation": "-77"
                        },
                        {
                            "color": "#151f2a"
                        },
                        {
                            "gamma": "3.24"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#151f2a"
                        },
                        {
                            "lightness": "-37"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
            ],
            mapTypeId: 'terrain'
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var start_point = new google.maps.Marker({
            position: uluru,
            map: map,
            icon: "public/img/contact/marker.svg",
            title: 'Start'
        });
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaTzQxYCHfMP1j-hWCwecDX9ByHxX3kU&callback=initMap"></script>


</body>

