description = "Strona główna"

[staticPage]
useContent = 0
default = 0

[serviceslist]

[builderList]
modelClass = "Netsite\Productlist\Models\ProductList"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{variable name="hero_mainText" label="Tekst główny" tab="Hero" type="text"}{/variable}
{variable name="hero_img" label="Główne zdjęcie" tab="Hero" type="mediafinder" mode="image"}{/variable}

{variable name="title_technology" label="Tytuł dekcji" tab="Technologie" type="text"}{/variable}
{repeater name="technologies" tab="Technologie" prompt="Dodaj"}
{variable name="title" label="Nazwa"  type="text"}{/variable}
{variable name="img" label="Zdjęcie"  type="mediafinder" mode="image"}{/variable}
{variable name="text" label="Link"  type="textarea"}{/variable}
{/repeater}

{variable name="section_quality_mainText" label="Tytuł" tab="Standardy jakości" type="text"}{/variable}
{variable name="section_quality_description" label="Tekst" tab="Standardy jakości" type="textarea"}{/variable}
{variable name="section_quality_img" label="Zdjęcie" tab="Standardy jakości" type="mediafinder" mode="image"}{/variable}

{variable name="section_meetUS_mainText" label="Tekst" tab="Poznaj nas" type="text"}{/variable}
{variable name="section_meetUS_icon" label="Ikona" tab="Poznaj nas" type="mediafinder" mode="image"}{/variable}
{variable name="section_meetUS_img" label="Zdjęcie" tab="Poznaj nas" type="mediafinder" mode="image"}{/variable}

{variable name="section_machinePark_mainText" label="Tekst" tab="Park maszynowa" type="text"}{/variable}
{variable name="section_machinePark_img" label="Zdjęcie" tab="Park maszynowa" type="mediafinder" mode="image"}{/variable}

{variable name="section_moreProduct_mainText" label="Tekst" tab="Więcej o produktach" type="text"}{/variable}
{variable name="section_moreProduct_description" label="Opis" tab="Więcej o produktach" type="text"}{/variable}

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


{% partial 'header' %}
{% partial 'navigation' %}
<body class="mainPage">
<section class="hero" data-animation="fastFadeIn">
    <img class="mainImg mainImg_desktop" src="{{ hero_img | media }}" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row">
            <h1 class="title" data-animation="fadeIn">
                {{ hero_mainText | raw }}
            </h1>

        </div>
        <div class="row">
            <a href="" class="arrow_btn" data-animation="fadeIn">zobacz naszą ofertę</a>
        </div>
    </div>
</section>
<section class="offer">
    <div class="container">
        <div class="row textCenter">
            <h2 class="title" data-animation="fadeIn">
                {{ title_technology }}
            </h2>
        </div>
        <div class="row offer-row">

            {% for i,item in servicesList %}
            <a href="uslugi#{{item.slug}}" class="tile" data-animation="fadeIn">
                <img src="{{ item.mainpage_img | media }}" alt="" class="tile-img">
                <p class="tile-title">{{ item.name | raw }}</p>
            </a>
            {% endfor %}

        </div>
    </div>
</section>
<section class="qualityStandard">
    <div class="container">
        <div class="row">
            <div class="col-content">
                <img data-animation="slideFromLeft" src="{{ section_quality_img | media }}" alt="">
            </div>
            <div class="col-content">
                <h2 class="title" data-animation="fadeIn">
                    {{section_quality_mainText}}
                </h2>
                <p class="content" data-animation="fadeIn">
                    {{section_quality_description}}
                </p>
                <a class="arrow_btn_bg" data-animation="fadeIn" href="">zobacz nasz certyfikaty</a>
            </div>
        </div>
    </div>
</section>
<section class="meetUs">
    <img class="shiftedTile_bg" src="{{ section_meetUS_img | media }}" alt="">
    <div class="container">
        <div class="row">
            <div class="img_col" data-animation="slideFromLeft">
                <div class="box">
                    <img src="{{ section_meetUS_icon | media }}" alt="">
                </div>
            </div>
            <div class="tile_col" data-animation="slideFromRight">

                <p class="text">
                    {{ section_meetUS_mainText }}
                </p>
                <a href="about" class="arrow_btn">poznaj nas</a>

            </div>
        </div>
    </div>
</section>
<section class="ourProducts" data-animation="fadeIn">
    <div class="container">
        <div class="row textCenter">
            <h2 class="title">
                Nasze produkty
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <img class="placeholder" src="{{ 'productPlaveholder.png' | media}}" alt="">
                {% set counter = 0 %}
                {% for index,item in records %}
                {% if(item.mainpage_show)%}
                <img class="productImg {% if(index == 0)%}active{% endif %}" imgId="{{counter}}"
                     src="{{ item.main_img | media }}" alt="">
                {% set counter = counter + 1 %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="col">
                <ul class="productList">
                    {% set counter = 0 %}
                    {% for index,item in records %}
                    {% if(item.mainpage_show)%}
                    <li class="productList_el {% if(index == 0)%}active{% endif %}" productId="{{counter}}">
                        <p class="product_name">{{item.name}}</p>
                        <p class="product_description">{{item.mainpage_expand_shortcut}}</p>
                        <div class="line-row">
                            <a href="" class="circle_btn"></a>
                            <div class="line"></div>
                        </div>
                    </li>
                    {% set counter = counter + 1 %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row textCenter">
            <a href="produkty" class="arrow_btn">zobacz pełną ofertę produktów</a>
        </div>
    </div>
</section>
<section class="machinePark">
    <img class="shiftedTile_bg" src="{{ section_machinePark_img | media }}" alt="">
    <div class="container">
        <div class="row">
            <div class="img_col">
                <div class="box">

                </div>
            </div>
            <div class="tile_col" data-animation="slideFromRight">

                <p class="text">
                    {{ section_machinePark_mainText }}
                </p>
                <a href="" class="arrow_btn">zobacz nasz park maszynowy</a>

            </div>
        </div>
    </div>
</section>
<section class="seeMore">
    <div class="container">
        <div class="row textCenter">
            <h2 class="title" data-animation="slideFromLeft">
                {{ section_moreProduct_mainText }}
            </h2>
        </div>
        <div class="row textCenter" data-animation="slideFromRight">
            <p class="text">
                {{ section_moreProduct_description }}
            </p>
        </div>
        <div class="row textCenter">
            <a href="onas" class="arrow_btn_bg" data-animation="fadeIn">poznaj nas</a>
        </div>
    </div>
</section>

<script>
    const ourProducts = Array.from(document.querySelectorAll('.productList_el'));
    const ourProductsImg = Array.from(document.querySelectorAll('.productImg'));

    ourProducts.forEach(function (el) {
        el.addEventListener('click', function (e) {
            const target = e.target.closest('.productList_el').getAttribute('productId');
            console.log(target);
            ourProductsImg.forEach(function (el) {
                el.classList.remove('active');
            });
            ourProducts.forEach(function (el) {
                el.classList.remove('active');
            });
            document.querySelector('.productImg[imgId="' + target + '"]').classList.add('active')
            e.target.closest('.productList_el').classList.add('active');
        });
    });
</script>
{% partial 'footer' %}
</body>