description = "Produkty"

[staticPage]
useContent = 0
default = 0

[productlist]

[builderList]
modelClass = "Netsite\Productlist\Models\ProductList"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "produkt"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
recordsPerPage = 12
pageNumber = "{{ :page }}"

[productlist productlist2]
==
{variable name="hero_mainText" label="Tekst główny" tab="Produkty" type="text"}{/variable}
{variable name="hero_img" label="Główne zdjęcie" tab="Produkty" type="mediafinder" mode="image"}{/variable}
{variable name="btnWithText_title" label="Tytuł" tab="Produkty" type="text"}{/variable}
{variable name="btnWithText_description" label="Opis" tab="Produkty" type="textarea"}{/variable}


{repeater name="products" tab="Lista produktów" prompt="Dodaj"}
{variable name="title" label="Nazwa"  type="text"}{/variable}
{variable name="description" label="Opis"  type="textarea"}{/variable}
{variable name="img" label="Zdjęcie"  type="mediafinder" mode="image"}{/variable}
{/repeater}

{% partial 'header' %}
{% partial 'navigation' %}

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<body class="productPage">
<section class="hero" data-animation="fastFadeIn">
    <img class="mainImg mainImg_desktop" src="{{ hero_img | media }}" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle" data-animation="slideFromLeft">
                Produkty
            </p>
            <h1 class="title" data-animation="fadeIn">
                {{hero_mainText}}
            </h1>
        </div>
    </div>
</section>
<section class="product_view" data-animation="slideFromLeft">
    <div class="container">
        <p class="title">zmień widok listy</p>
        <div class="product_view_list">
            <div class="product_view_list_item " data-view="tiles">
                <span></span><span></span><span></span><span></span>
            </div>
            <div class="product_view_list_item active" data-view="list">
                <span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
</section>
<section class="product_list" data-view="list">
    {% set index = 0 %}
    {% for i,item in records %}
    {% if(item.show) %}
    <div class="product_item {% if(index%2!=0) %} reverse {% endif %}">
        <img class="product_item_img" {% if(index%2!=0) %} data-animation-original="slideFromLeft"
             data-animation="slideFromLeft" {% else %} data-animation-original="slideFromRight"
             data-animation="slideFromRight" {% endif %} src="{{ item.main_img | media}}" alt="">
        <div class="product_item_content">
            <div class="content">
                <h4 class="product_item_name" {% if(index%2!=0) %} data-animation-original="slideFromRight"
                    data-animation="slideFromRight" {% else %} data-animation-original="slideFromLeft"
                    data-animation="slideFromLeft" {% endif %}>
                    {{ item.name }}
                </h4>
                <p class="product_item_description" {% if(index%2!=0) %} data-animation-original="slideFromRight"
                   data-animation="slideFromRight" {% else %} data-animation-original="slideFromLeft"
                   data-animation="slideFromLeft" {% endif %}>
                    {{ item.description }}
                </p>
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(item, detailsKeyColumn) }) }}" {%
                   if(index%2!=0) %} data-animation-original="slideFromRight" data-animation="slideFromRight" {% else %}
                   data-animation-original="slideFromLeft" data-animation="slideFromLeft" {% endif %}
                   class="product_item_link">zobacz produkt</a>
            </div>
        </div>
    </div>
    {% set index = index + 1 %}
    {% endif %}
    {% endfor %}
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title">
            {{btnWithText_title}}
        </h3>
        <p class="text">
            {{btnWithText_description}}
        </p>
        <a class="arrow_btn_bg" href="">
            SKONTAKTUJ SIĘ Z NAMI
        </a>
    </div>
</section>

{% partial 'footer' %}

<script>
    $(document).ready(function () {
        const listView = $('.product_view_list_item');
        const dataAnimation = $('[data-animation]');

        $('.product_view_list_item').on('click', function (e) {
            const target = $(this).attr('data-view');
            $('.product_view_list_item').removeClass('active');


            let winTop = $(window).scrollTop();
            let winHeight = $(window).height();
            let winBottom = winTop + winHeight;
            let lastScroll = winTop;
            let direction = 'firstView';

            check_isInView(winTop, winHeight, winBottom, lastScroll, direction);


            switch (target) {
                case 'tiles':
                    $.each(dataAnimation, function (index, el) {
                        el = $(el);
                        el.attr('data-animation', 'fadeIn');
                    });
                    break;
                case 'list':
                    const originalData = el.attr('[data-aniamtion-original]');
                    el.attr('data-animation', originalData);
                    break;
            }
            $('.product_view_list_item[data-view="' + target + '"]').addClass('active');

            $('.product_list').attr('data-view', target);

        });
    });

</script>
</body>