description = "Usługi"

[staticPage]
useContent = 0
default = 0

[serviceslist]
==
{variable name="hero_mainText" label="Tekst główny" tab="Hero" type="text"}{/variable}
{variable name="hero_img" label="Główne zdjęcie" tab="Hero" type="mediafinder" mode="image"}{/variable}

{variable name="strokeText" label="Tekst" tab="Sekcja z wzorem" type="text"}{/variable}

{variable name="imgWithText_1_title" label="Tytuł" tab="Tekst ze zdjęciem (1)" type="text"}{/variable}
{variable name="imgWithText_1_text" label="Tekst" tab="Tekst ze zdjęciem (1)" type="textarea"}{/variable}
{variable name="imgWithText_1_img" label="Zdjęcie" tab="Tekst ze zdjęciem (1)" type="mediafinder" mode="image"}{/variable}

{variable name="imgWithText_2_title" label="Tytuł" tab="Tekst ze zdjęciem (2)" type="text"}{/variable}
{variable name="imgWithText_2_text" label="Tekst" tab="Tekst ze zdjęciem (2)" type="textarea"}{/variable}
{variable name="imgWithText_2_img" label="Zdjęcie" tab="Tekst ze zdjęciem (2)"  type="mediafinder" mode="image"}{/variable}

{variable name="imgWithText_3_title" label="Tytuł" tab="Tekst ze zdjęciem (3)" type="text"}{/variable}
{variable name="imgWithText_3_text" label="Tekst" tab="Tekst ze zdjęciem (3)" type="textarea"}{/variable}
{variable name="imgWithText_3_img" label="Zdjęcie" tab="Tekst ze zdjęciem (3)"  type="mediafinder" mode="image"}{/variable}

{variable name="imgWithText_4_title" label="Tytuł" tab="Tekst ze zdjęciem (4)" type="text"}{/variable}
{variable name="imgWithText_4_text" label="Tekst" tab="Tekst ze zdjęciem (4)" type="textarea"}{/variable}
{variable name="imgWithText_4_img" label="Zdjęcie" tab="Tekst ze zdjęciem (4)" type="mediafinder"  mode="image"}{/variable}

{variable name="imgWithText_5_title" label="Tytuł" tab="Tekst ze zdjęciem (5)" type="text"}{/variable}
{variable name="imgWithText_5_text" label="Tekst" tab="Tekst ze zdjęciem (5)" type="textarea"}{/variable}
{variable name="imgWithText_5_img" label="Zdjęcie" tab="Tekst ze zdjęciem (5)" type="mediafinder"  mode="image"}{/variable}

{variable name="btnWithText_title" label="Tytuł" tab="Tekst z przyciskiem" type="text"}{/variable}
{variable name="btnWithText_text" label="Tekst" tab="Tekst z przyciskiem" type="textarea"}{/variable}


{% partial 'header' %}
{% partial 'navigation' %}

<body class="servicesPage">
<section class="hero" data-animation="fastFadeIn">
    <img class="mainImg mainImg_desktop" src="{{ hero_img | media }}" alt="">
    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row">
            <p class="subTitle" data-animation="fadeIn">
                Usługi
            </p>
            <h1 class="title" data-animation="fadeIn">
                {{hero_mainText}}
            </h1>
        </div>
    </div>
</section>
<section class="strokes">
    <div class="container">
        <h3 class="title" data-animation="slideFromLeft">
            {{strokeText}}
        </h3>
    </div>
    <img class="shape" src="{{ 'about_shape.png' | media }}" alt="" data-animation="slideFromRight">
</section>
<section id="servicesTabs" class="servicesTabs">
    <div class="partImg" style="background: url('{{ services_bg | media }}') center center no-repeat;">
        {% for i,item in servicesList %}
        <img class="listOnTile_img {% if(i==0)%}active{% endif %}" data-service="{{item.slug}}"
             src="{{item.img | media }}" alt="">
        {% endfor %}
        <div class="container">
            <ul class="listOnTile" data-animation="fastFadeIn">
                {% for i,item in servicesList %}

                <li class="listOnTile_item {% if(i==0)%}active{% endif %}" data-service="{{item.slug}}"
                    data-animation="slideFromRight">
                    {{item.name}}
                    <span class="circleBtn"></span>
                </li>
                {% endfor %}
            </ul>
            <div class="serviceTitle" data-animation="fadeIn">
                {% for i,item in servicesList %}
                <div class="serviceTit_item {% if(i==0)%}active{% endif %}" data-service="{{item.slug}}">
                    <img class="serviceTit_icon" src="{{ item.icon | media }}" alt="">
                    <h2 class="title">{{ item.name }}</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        {% for i,item in servicesList %}

        <div class="serviceContent {% if(i==0)%}active{% endif %}" data-service="{{item.slug}}">

            {% if(item.description > 0) %}
            {% for el in item.description %}
            <h4 data-animation="fadeIn">
                {{el.title}}
            </h4>
            <p data-animation="fadeIn">
                {{el.text}}
            </p>
            {% endfor %}
            {% endif %}

            {% if(item.scope_of_service > 0) %}
            <h4 data-animation="fadeIn">
                Zakres usługi
            </h4>
            <ul data-animation="fadeIn">
                {% for el in item.scope_of_service %}
                <li>
                    <span class="check_icon"></span>
                    {{el.text}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ imgWithText_1_img | media }}" alt="" data-animation="slideFromLeft">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        {{imgWithText_1_title}}
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        {{imgWithText_1_text}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ imgWithText_2_img | media }}" alt="" data-animation="slideFromLeft">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        {{ imgWithText_2_title }}
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        {{ imgWithText_2_text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="imgWithText no-text-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ imgWithText_3_img | media }}" alt="" data-animation="slideFromLeft">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        {{ imgWithText_3_title }}
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        {{ imgWithText_3_text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{ imgWithText_5_img | media }}" alt="" data-animation="slideFromLeft">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        {{ imgWithText_5_title }}
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        {{ imgWithText_5_text }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title" data-animation="fadeIn">
            {{btnWithText_title}}
        </h3>
        <p class="text" data-animation="fadeIn">
            {{btnWithText_text}}
        </p>
        <a class="arrow_btn_bg" href="" data-animation="fadeIn">
            PRZEJDŹ DO KONTAKTU
        </a>
    </div>
</section>

<script>

    const href = window.location.href.split('#')[1];

    if (href != undefined) {
        set_activeService(href);
        scroll_activeService();
    }
    $(document).ready(function () {
        $('.listOnTile_item').on('click', function () {
            const service = $(this).attr('data-service');
            set_activeService(service);
        });
    });


    function scroll_set_activeService(name) {
        scroll_activeService();
        set_activeService(name);
    }

    function scroll_activeService() {
        const scrollTo = document.getElementById('servicesTabs');
        console.log(scrollTo.offsetTop);
        window.scroll({
            behavior: 'smooth',
            left: 0,
            top: scrollTo.offsetTop
        });
    }

    function set_activeService(name) {
        console.log($('#servicesTabs *[data-service="' + name + '"]'));
        $('#servicesTabs [data-service]').removeClass('active');
        $('#servicesTabs *[data-service="' + name + '"]').addClass('active');
    }
</script>
{% partial 'footer' %}
</body>