description = "Pojedynczy produkt"

[staticPage]
useContent = 0
default = 0

[builderDetails]
modelClass = "Netsite\Productlist\Models\ProductList"
identifierValue = "{{ :id }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Nie znaleziono rekordu"

[builderList]
modelClass = "Netsite\Productlist\Models\ProductList_static"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "about_product_img"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% partial 'header' %}
{% partial 'navigation' %}


{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}
{% set staticData = builderDetails2.record %}
{% set displayColumn2 = builderDetails2.displayColumn %}
{% set notFoundMessage2 = builderDetails2.notFoundMessage %}

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<body class="singleProduct">

{% if record %}
<section class="hero" alt="" data-animation="fadeIn">

    <div class="mainImg-dark"></div>
    <div class="leftBar" data-animation="slideFromLeft"></div>
    <div class="container">
        <div class="row">
            <a href="../produkty" class="btn_back" data-animation="slideFromLeft">
                produkty
            </a>
            <p class="subTitle" data-animation="slideFromLeft">
                Produkty
            </p>
            <h1 class="title" data-animation="slideFromLeft">
                {{record.name}}
            </h1>
            <p class="description" data-animation="slideFromLeft">
                {{record.description}}
            </p>
        </div>
    </div>
    <img class="mainImg mainImg_desktop" src="{{ record.main_img | media }}">
</section>

<div class="singleProduct_nav" data-animation="fadeIn">
    <div class="container">
        <div class="row">
            {% if record.properties|length > 0 %}
            <div class="scroll_el" data-scroll="properties">Właściwości</div>
            {% endif %}
            {% if record.tech_data|length > 0 %}
            <div class="scroll_el" data-scroll="data-tech">Dane techniczne</div>
            {% endif %}
            {% if record.download|length > 0 %}
            <div class="scroll_el" data-scroll="materials">Materiały do pobrania</div>
            {% endif %}
        </div>
    </div>
</div>
{% if record.properties|length > 0 %}
<div class="singleProduct_properties" data-scroll-target="properties">
    <div class="container">
        <div class="title" data-animation="fadeIn">
            Właściwości płyty
        </div>
        {{productlist_static}}
        <ul class="list" data-animation="fadeIn">
            {% for i,item in record.properties %}
            <li>
                <div class="icon">
                    <img src="{{ item.icon | media }}" alt="">
                </div>
                <p>{{ item.text }}</p>
            </li>

            {% endfor %}
        </ul>
    </div>
    <div id="prop_slider" class="slider" data-animation="slideFromRight">
        {% for i,item in record.slider %}

        <div class="slide">
            <div class="counter">
                {{i + 1}}/{{record.slider|length}}
            </div>
            <img src="{{ item.img | media }}" alt="">
            {% if i == 0 %}
            <div class="tooltip" style="top: 60%; left: 40%;">
                <div class="tooltip_hover">
                    <span></span>
                    <span></span>
                </div>
                <div class="tooltip_content">
                    <p class="tooltip_content_title">
                        Cecha produktu
                    </p>
                    <p class="tooltip_content_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </div>
            <div class="tooltip" style="top: 40%; left: 70%;">
                <div class="tooltip_hover">
                    <span></span>
                    <span></span>
                </div>
                <div class="tooltip_content">
                    <p class="tooltip_content_title">
                        Cecha produktu
                    </p>
                    <p class="tooltip_content_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="technical_data" data-scroll-target="data-tech">
    <div class="container">
        <div class="title" data-animation="fadeIn">
            Dane techniczne
        </div>
        <div class="data_list" data-animation="fadeIn">
            {{ record.tech_data | raw }}


        </div>
    </div>
</div>

<section class="aboutProduct">
    <img class="shiftedTile_bg" src="{{ records[0].about_product_img | media }}" alt="">
    <div class="container">
        <div class="row">
            <div class="img_col">
                <div class="box">

                </div>
            </div>
            <div class="tile_col" data-animation="slideFromRight">

                <p class="text">
                    Dzięki szerokiej gamie dekorów oraz struktur powierzchni, płyty laminowane są podstawowym materiałem
                    do produkcji mebli oraz elementów wykończenia wnętrz.
                </p>

            </div>
        </div>
    </div>
</section>
<section class="imgWithText">
    <div class="container">
        <div class="row">
            <div class="col" data-animation="slideFromLeft">
                <img src="{{ records[0].img_with_text_img | media }}" alt="">
            </div>
            <div class="col">
                <div class="textContent">
                    <h3 class="title" data-animation="slideFromRight">
                        Zabezpieczenie UV
                    </h3>
                    <p class="text" data-animation="slideFromRight">
                        Jako odpowiednio zabezpieczony produkt, płyty laminowane charakteryzują się wysoką odpornością
                        na działania promieni UV, zabrudzenia i środki chemiczne. Ponadto nie gromadzą ładunków
                        elektrostatycznych na swojej powierzchni, przez co nie przyciągają kurzu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% if record.download|length > 0 %}
<section class="productDownloadMeterials" data-scroll-target="materials">
    <div class="container">
        <div class="title" data-animation="fadeIn">
            Materiały do pobrania
        </div>


        <div class="productDownloadMeterials_list">
            {% for i,item in record.download %}
            <div class="productDownloadMeterials_el"
                 data-animation="fadeIn">
                <div class="left_content">
                    <p class="productDownloadMeterials_title">
                        {{item.text}}
                    </p>
                </div>
                <div class="right_content">
                    <div class="type_icon">PDF</div>
                    <a href="{{ item.file | media }}" target="_blank" class="download_arrow">
                        <span></span><span></span><span></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endif %}
<section class="simpleWithBtn">
    <div class="container">
        <h3 class="title" data-animation="fadeIn">
            Zainteresował Cię ten produkt?
        </h3>
        <p class="text" data-animation="slideFromLeft">
            Kliknij "Zamów produkt" i skorzystaj z formularza zamówienia
        </p>
        <a class="arrow_btn_bg" href="" data-animation="slideFromRight">
            Zamów PRODUKT
        </a>
    </div>
</section>


{% partial 'footer' %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $('#prop_slider').slick({
        slidesToShow: 1.5,
        centerMode: true,
        slidesToScroll: 1.5,
        infinite: false,
        prevArrow: '<div class="slider_prev slider_nav"></div>',
        nextArrow: '<div class="slider_next slider_nav"></div>',
        responsive: [{
            breakpoint: 770,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                centerMode: false,
            }
        }]
    });
    $(document).ready(function () {
        $('.tooltip').mouseover(function () {
            console.log($(this));
            $(this).addClass('active');
        });
        $('.tooltip').mouseleave(function () {
            console.log($(this));
            $(this).removeClass('active');
        });
        $('.scroll_el').on('click', function () {
            const target = $(this).attr('data-scroll');
            const $target = $('[data-scroll-target="' + target + '"]');
            $([document.documentElement, document.body]).animate({
                scrollTop: $target.offset().top
            }, 2000);
        });
    });

</script>
{% else %}
404
{% endif %}
</body>