//
// Override UI variables
// --------------------------------------------------

@font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

//
// Paths
// --------------------------------------------------

@type-font-path: "../font";

//
// Colors
// --------------------------------------------------

@color-border:                               #cccccc;
@color-border-light:                         #e1e1e1;

@color-mainmenu:                             #000000;
@color-mainmenu-inactive:                    rgba(255,255,255,.6);
@color-mainmenu-active:                      #ffffff;
@color-mainmenu-active-bg:                   #4C5560;
@color-mainmenu-collapsed:                   #000000;

@color-accountmenu-bg:                       #151F2A;
@color-accountmenu-text:                     #4C5560;
@color-accountmenu-divider:                  #e0e0e0;

@color-footer:                               rgba(255,255,255,.8);
@color-footer-border:                        #dfdfdf;
@color-footer-text:                          #4C5560;

@color-sidebarnav-active-text:               #ffffff;
@color-sidebarnav-active-icon:               #ffffff;
@color-sidebarnav-inactive-text:             rgba(255,255,255,.6);
@color-sidebarnav-inactive-icon:             rgba(255,255,255,.6);
@color-sidebarnav-counter-bg:                #d9350f;
@color-sidebarnav-counter-text:              #ffffff;

@color-sidebarnav-tree-group:                #ecf0f1;
@color-sidebarnav-tree-group-bg:             rgba(0,0,0,.15);
@color-sidebarnav-tree-inactive-header:      #ffffff;
@color-sidebarnav-tree-inactive-desc:        rgba(255,255,255,.6);
@color-sidebarnav-tree-inactive-text:        #ffffff;
@color-sidebarnav-tree-active-header:        #ffffff;
@color-sidebarnav-tree-inactive-bg:          transparent;
@color-sidebarnav-tree-active-text:          rgba(255,255,255,.91);
@color-sidebarnav-tree-active-marker:        @brand-secondary;
@color-sidebarnav-back-link-bg:              #2b3e50;
@color-sidebarnav-back-link-text:            #bdc3c7;

@color-scrollbar-track:                      transparent;
@color-scrollbar-thumb:                      rgba(0,0,0,.35);
@color-scrollpanel-border:                   #efefef;
@color-scrollpanel-fix-button:               #aaaaaa;
@color-scrollpanel-fix-button-light:         #eeeeee;
@color-scroll-indicator:                     #bbbbbb;

@color-panel-light:                          #ECF0F1;

@color-outer-muted-text:                     rgba(255,255,255,.44);
@color-outer-heading:                        #feffff;
@color-outer-description:                    #999999;
@color-outer-bg:                             #2b3e50;
@color-outer-header:                         @body-bg;
@color-outer-form-label:                     #666666;

@color-breadcrumb-text-active:               #9da3a7;
@color-breadcrumb-text:                      #9B9B9B;
@color-breadcrumb-background:                #2b343d;

@color-custom-input-icon:                    #666666;
@color-custom-input-border:                  #999999;

@color-input-sidebar-control:                #C4C4C4;

@color-switch-input-bg:                      #f6f6f6;
@color-switch-input-on:                      #8da85e;
@color-switch-input-off:                     #cc3300;

@color-custom-select-border:                 #b2b9be;
@color-custom-select-bg:                     #f6f6f6;
@color-custom-select-bg-hover:               #4da7e8;

@color-filelist-norecords-text:              #666666;
@color-filelist-norecords-bg:                #eeeeee;
@color-filelist-cb-border:                   #cccccc;
@color-filelist-title-hero:                  #2b3e50;
@color-filelist-hero-item-bg:                #ffffff;
@color-filelist-hero-hover-bg:               @highlight-hover-bg;
@color-filelist-hero-hover-text:             @highlight-hover-text;
@color-filelist-hero-active-bg:              @highlight-active-bg;
@color-filelist-hero-active-text:            @highlight-active-text;

@color-fancy-master-tabs-bg:                 #d35400;
@color-fancy-master-tabs-active-text:        #ffffff;
@color-fancy-master-tabs-inactive-text:      rgba(255, 255, 255, .35);
@color-fancy-master-panel-bg:                #d35400;

@color-fancy-secondary-tabs-bg:              #475354;
@color-fancy-secondary-tabs-active-text:     #ffffff;
@color-fancy-secondary-tabs-inactive-text:   #919898;

@color-fancy-primary-tabs-bg:                #7F8C8D;
@color-fancy-primary-tabs-inactive-text:     #95a5a6;
@color-fancy-primary-tabs-active-text:       #808c8d;
@color-fancy-primary-tabs-active-bg:         #fafafa;
@color-fancy-primary-tabs-inactive-bg:       #d5d9d8;

@color-fancy-form-tabless-fields-bg:         @brand-secondary;
@color-fancy-form-label:                     rgba(255, 255, 255, .5);
@color-fancy-form-text:                      #ffffff;
@color-fancy-form-text-selection:            #d35400;
@color-fancy-form-placeholder:               rgba(255, 255, 255, .5);
@color-fancy-form-inactive-tab:              #b9530f;

@color-sortable-caret:                       #999999;
@color-sortable-active:                      @brand-secondary;

@color-report-widget-title:                  #7e8c8d;
@color-report-widget-control-inactive:       #b6b6b6;
@color-report-widget-description:            @color-report-widget-title;
@color-report-widget-link:                   @color-report-widget-title;

@color-treeview-item-bg:                     #ffffff;
@color-treeview-item-title:                  #2b3e50;
@color-treeview-item-comment:                #95a5a6;
@color-treeview-control:                     #bdc3c7;
@color-treeview-hover-bg:                    @highlight-hover-bg;
@color-treeview-hover-text:                  @highlight-hover-text;
@color-treeview-active-bg:                   @highlight-active-bg;
@color-treeview-active-text:                 @highlight-active-text;
@color-treeview-item-active-comment:         #8f8f8f;
@color-treeview-submenu-text:                #ffffff;
@color-treeview-light-submenu-bg:            #2581b8;
@color-treeview-light-submenu-border:        #328ec8;

//
// Sizes
// --------------------------------------------------
@size-tiny:  50px;
@size-small: 100px;
@size-large: 200px;
@size-huge:  250px;
@size-giant: 350px;

//
// Media breakpoints
// --------------------------------------------------

@menu-breakpoint-min:           770px;
@menu-breakpoint-max:           (@menu-breakpoint-min - 1);