description = "stopka"

[viewBag]

[childPages]

[staticMenu pageList]
code = "navigation"

[builderList]
modelClass = "Netsite\Productlist\Models\ProductList"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "Netsite\Serviceslist\Models\ServicesList"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

{% set recordsService = builderList2.records %}
{% set displayColumn = builderList2.displayColumn %}
{% set noRecordsMessage = builderList2.noRecordsMessage %}
{% set detailsPage = builderList2.detailsPage %}
{% set detailsKeyColumn = builderList2.detailsKeyColumn %}
{% set detailsUrlParameter = builderList2.detailsUrlParameter %}

<footer class="footer">

    <div class="container">
        <div class="footer_contact">
            <img src="{{ 'logo_color.png' | media }}" alt="">
            <div class="content">
                <p>GranBoard Sp. z o.o. </p>
                <p>ul. Naftowa 1, Granowiec 63-435, Poland</p>
                <p>Tel: (+48) 535 820 620</p>
                <p>Pon - Pt: 8:00 - 16:00</p>
            </div>
        </div>
        <div class="footer_pageMap">
            <div class="footer_page">
                <a href="produkty" class="footer_pageMap_title">Produkty</a>
                {% for record in records %}
                {% if(record.show) %}
                <a href="produkty/{{ record.slug }}" class="footer_pageMap_page">{{record.name}}</a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="footer_page">
                <a href="uslugi" class="footer_pageMap_title">Usługi</a>
                {% for record in recordsService %}
                <a href="uslugi#{{record.slug}}" class="footer_pageMap_page">{{record.name}}</a>
                {% endfor %}
            </div>
            <div class="footer_page">
                <a href="kariera" class="footer_pageMap_title">Kariera</a>
                <a href="kariera" class="footer_pageMap_page">Oferty pracy</a>
            </div>
            <div class="footer_page">
                <a href="kontakt" class="footer_pageMap_title">Kontakt</a>
                <a href="kontakt" class="footer_pageMap_page">Dane kontaktowe</a>
                <a href="kontakt" class="footer_pageMap_page">Mapa dojazdu</a>
                <a href="kontakt" class="footer_pageMap_page">Formularz kontaktowy</a>
            </div>
        </div>
    </div>
    <div class="containerFull">
        <p>© Copyright 2020 · GranBoard Sp. z o.o. · All rights reserved</p>
        <div class="links">
            <a href="">Polityka prywatności</a>
            <a href="">Cookies</a>
        </div>
    </div>
</footer>

<script src="{{ 'assets/js/animationScript.js' | theme }}"></script>