description = "nagłówek"

[viewBag]
==
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Granboard</title>
    <link rel="stylesheet" href="{{ 'assets/style/main.css' | theme }}">
    <script src="{{ 'assets/js/jQuery.js' | theme }}"></script>
</head>

</html>