description = "nawigacja"

[viewBag]

[staticMenu]
code = "navigation"

[builderList productList]
modelClass = "Netsite\Productlist\Models\ProductList"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "produkt"
detailsKeyColumn = "slug"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList serviceList]
modelClass = "Netsite\Serviceslist\Models\ServicesList"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "Nie znaleziono rekordów"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set products = productList.records %}
{% set services = serviceList.records %}

<nav class="navigation">
    <a href="{{staticMenu.menuItems[0].url}}">
        <img class="navLogo" src="{{ 'logo_white.png' | media}}" alt="">
        <img class="navLogo_product" src="{{ 'logo_color.png' | media}}" alt="">
    </a>
    <div class="navList">
        <ul id="navihationList" class="navList_pagesList">
            {% for i,item in staticMenu.menuItems %}
            {% if(i>0) %}
            {% if(item.title!='Zamów produkt') %}
            <li class="page{% if(item.isActive) %} active {% endif %}{% if(item.title == 'Produkty' or item.title == 'Usługi') %} subPageList {% endif %}"
                data-id="">
                <a href="{{item.url}}" class="page_link">
                    {{item.title}}
                </a>

                {% if(item.title=='Produkty') %}
                <div id="productList" class="nav_productList">
                    <div class="nav_productList_content">
                        <div class="nav_productList_title">
                            Zrównoważone rozwiązania na bazie drewna
                        </div>
                        <div class="nav_product_list ">
                            {% for i,item in productList.records %}
                            {% if(item.show) %}
                            <a href="produkt/{{ item.slug }}"
                               class="nav_product_item {% if(records|length > 4) %} halfList {% endif %}"
                               data-product="{{i}}">{{ item.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="nav_productList_img">
                        {% for i,item in productList.records %}
                        <img class="nav_product_img_item {% if(i==0) %} active {% endif %}" data-product="{{i}}"
                             src="{{ item.main_img | media}}"
                             alt="">
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if(item.title=='Usługi') %}
                <div id="serviceList" class="nav_productList">
                    <div class="nav_productList_content">
                        <div class="nav_productList_title">
                            Zrównoważone rozwiązania na bazie drewna
                        </div>
                        <div class="nav_product_list ">
                            {% if(item.title == 'Usługi' and item.isActive) %}
                            {% for i,item in serviceList.records %}
                            <p onclick="scroll_set_activeService('{{item.slug}}')"
                               class="nav_product_item {% if(records|length > 4) %} halfList {% endif %}"
                               data-service="{{i}}">
                                {{ item.name }}
                            </p>
                            {% endfor %}
                            {% else %}
                            {% for i,item in serviceList.records %}
                            <a href="uslugi#{{item.slug}}"
                               class="nav_product_item {% if(records|length > 4) %} halfList {% endif %}"
                               data-service="{{i}}">
                                {{ item.name }}
                            </a>
                            {% endfor %}

                            {% endif %}
                        </div>
                    </div>
                    <div class="nav_productList_img">
                        {% for i,item in serviceList.records %}
                        <img class="nav_product_img_item {% if(i==0) %} active {% endif %}" data-service="{{i}}"
                             src="{{ item.img | media}}"
                             alt="">
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!--            <li class="navList_languages">-->
            <!--                EN-->
            <!--            </li>-->
            <li id="nav_burder_close" class="nav_burder nav_burder_close">
                <span></span><span></span><span></span>
            </li>
        </ul>

        <div id="nav_burder" class="nav_burder">
            <span></span><span></span><span></span>
        </div>

        {% for item in staticMenu.menuItems %}
        {% if(item.title=='Zamów produkt') %}
        <a class="getOrder">
            Zamów produkt
        </a>
        {% endif %}
        {% endfor %}
    </div>
</nav>

<script>
    const nav_productList = document.getElementById('productList');
    const nav_serviceList = document.getElementById('serviceList');

    const productListHeight = nav_productList.clientHeight;
    const serviceListHeight = nav_serviceList.clientHeight;

    nav_productList.setAttribute('data-height', productListHeight);
    nav_serviceList.setAttribute('data-height', serviceListHeight);

    nav_productList.style.height = 0;
    nav_serviceList.style.height = 0;

    const burger = document.getElementById('nav_burder');
    const burgerClose = document.getElementById('nav_burder_close');
    const navigation = document.getElementById('navihationList');

    burger.addEventListener('click', function (e) {
        burger.classList.add('active');
        burgerClose.classList.add('active');
        navigation.classList.add('active');
    });

    burgerClose.addEventListener('click', function () {
        burger.classList.remove('active');
        burgerClose.classList.remove('active');
        navigation.classList.remove('active');
    });

    $(document).ready(function () {

        $('.subPageList').on('mouseover', function () {
            $('.nav_productList').css({height: 0});
            const elHeight = $(this).find('.nav_productList').attr('data-height');
            $(this).find('.nav_productList').css({height: elHeight + 'px'});

            $('.nav_product_item').addClass('active');
            $('.nav_product_img_item').addClass('active');

            $('.nav_product_item[data-product="0"]').addClass('active');
            $('.nav_product_item[data-service="0"]').addClass('active');

            $('.nav_product_img_item[data-service="0"]').addClass('active');
            $('.nav_product_img_item[data-product="0"]').addClass('active');
        });

        $('.subPageList').on('mouseleave', function () {
            $('.nav_productList').css({height: 0});


        });

        $('.nav_product_item[data-service]').on('mouseover', function () {
            const target = $(this).attr('data-service');
            // $('.nav_product_img_item[data-service]').removeClass('active');
            $('.nav_product[data-service]').removeClass('active');

            $(this).addClass('active');
            $('.nav_product_img_item[data-service="' + target + '"]').addClass('active');
        });

        $('.nav_product_item[data-product]').on('mouseover', function () {
            const target = $(this).attr('data-product');
            // $('.nav_product_img_item[data-product]').removeClass('active');
            $('.nav_product[data-product]').removeClass('active');

            $(this).addClass('active');
            $('.nav_product_img_item[data-product="' + target + '"]').addClass('active');
        });
    });

    // const pageProduct = document.getElementById('page-product');
    //
    // pageProduct.addEventListener('mouseover', function (el) {
    //     nav_productList.classList.add('active');
    //     console.log(navHeight);
    //     nav_productList.style.height = navHeight + 'px'
    // });
    //
    // pageProduct.addEventListener('mouseout', function () {
    //     nav_productList.classList.remove('active');
    //     nav_productList.style.height = 0;
    // });

    const nav_product_item = Array.from(document.querySelectorAll('.nav_product_item'));
    const nav_product_img = Array.from(document.querySelectorAll('.nav_product_img_item'));

    nav_product_item.forEach(function (el) {
        el.addEventListener('mouseover', function (e) {

            target = e.target.closest('.nav_product_item').getAttribute('data-product');
            nav_product_img.forEach(function (item) {
                item.classList.remove('active');
            });
            document.querySelector('.nav_product_img_item[data-product="' + target + '"]').classList.add('active');
        });
    });


</script>